<header class="row">

    <section class="row">
        <section class="col s5 left-padding">
            <img src="/static/dhruv_logo.png" alt="Dhruv Logo" id="logo"/>
        </section>
        <nav class="col s7 right-padding">
            <ul class="right hide-on-med-and-down">
                <li><a href="/">Home</a></li>
                <li><a href="/">Case Studies</a></li>
                <li><a href="/">Resume Higlights</a></li>
                <li><a href="/">Contact</a></li>
            </ul>
            <a href="#" data-target="slide-out" class="sidenav-trigger show-on-medium-and-down right" id="mobile-menu-icon"><i class="material-icons">menu_open</i></a>
        </nav>
    </section>

    <section class="row" id="heading-wrapper">
        <section class="col s11 m5 l4 left-padding" id="page-heading">
            <h1><%= heading %></h1>
            <p><%= desc %></p>
        </section>

        <img src="/static/headbg.png" alt="circuit vector background" class="hide-on-small-only right" id="headbg"/>
    </section>
</header>

<ul id="slide-out" class="sidenav">
    <li><a class="subheader">Menu</a></li>
    <li><a class="waves-effect" href="/">Home</a></li>
    <li><a class="waves-effect" href="/">Case Studies</a></li>
    <li><a class="waves-effect" href="/">Resume Highlights</a></li>
    <li><a class="waves-effect" href="/">Contact</a></li>
</ul>