<header class="row">

    <section class="row">
        <section class="col s5 left-padding">
            <img src="/static/dhruv_logo.png" alt="Dhruv Logo" id="logo"/>
        </section>
        <nav class="col s7 right-padding">
            <ul class="right hide-on-med-and-down">
                <li><a href="/">Home</a></li>
                <li><a href="/">Case Studies</a></li>
                <li><a href="/">Resume Higlights</a></li>
                <li><a href="/">Contact</a></li>
            </ul>
        </nav>
    </section>

    <section class="row" id="heading-wrapper">
        <section class="col s11 m5 l4 left-padding" id="page-heading">
            <h1>Hello, World_</h1>
            <p>Hi, I’m Dhruv, currently a CS student at UBC and former intern at Tata Consultancy Services and MyGov India. 
                I conceive, develop and design software systems.</p>
        </section>
    </section>
</header>