<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Config -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Dhruv's Portfolio - Software Developer & CS Student</title>
    <meta name="description" content="I'm Dhruv, a CS student and freelance software developer.
    Explore case studies of of my past work and read through the highlights of my resume here.">

    <!-- CSS -->
    <%- include('partials/common-css.ejs') %>
    <!-- Deferred Scripts -->
    <%- include('partials/common-js.ejs') %>

</head>
<body>
    <%- include('partials/header.ejs') %>
    <main>
    </main>
    <%- include('partials/footer.ejs') %>
</body>
</html>