<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Config -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Dhruv's Portfolio - Software Developer & CS Student</title>
    <meta name="description" content="I'm Dhruv, a CS student and freelance software developer.
    Explore case studies of of my past work and read through the highlights of my resume here.">

    <!-- CSS -->
    <%- include('partials/common-css.ejs') %>
    <!-- Deferred Scripts -->
    <%- include('partials/common-js.ejs') %>

</head>
<body>
    <%- include('partials/header.ejs') %>
    <main>
        <section class="row heading-row">
            <h2 class="sub-heading">Skills</h2>
        </section>
        <section class="row">
            <section class="center-flex">
                <section class="center center-inner">
                    <section class="circle">
                        <img src="/static/node-logo.png" alt="Node JS Logo" class="skill-img"/>
                    </section>
                    
                    <section class="circle">
                        <img src="/static/mongo-logo.png" alt="MongoDB Logo" class="skill-img"/>
                    </section>
                    <section class="circle">
                        <img src="/static/nativescript-logo.png" alt="NativeScript Logo" class="skill-img"/>
                    </section>
                    <a href="/resume-highlights">
                        <section class="circle clickable">
                            <img src="/static/arrow.png" alt="Explore - Click to see more skills" class="skill-img"/>
                        </section>
                    </a>
                </section>
            </section>
        </section>

        <section class="row heading-row">
            <h2 class="sub-heading">Featured Projects</h2>
        </section>

        <section class="row">
            <section class="col sm12 project left-padding" id="enviro">

                <article class="col sm12 m6 l4 project-desc">
                    <h1>Enviro</h1>
                    <h2>OPEN SOURCE ∙ ANDROID</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Pretium lectus quam id leo in vitae turpis massa. Viverra maecenas accumsan lacus vel.</p>
                    <a class="waves-effect waves white btn">Case Study →</a>
                </article>

            </section>
            
        </section>

    </main>
    <%- include('partials/footer.ejs') %>
</body>
</html>