<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Config -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Dhruv's Portfolio - Software Developer & CS Student</title>
    <meta name="description" content="I'm Dhruv, a CS student and freelance software developer.
    Explore case studies of of my past work and read through the highlights of my resume here.">

    <!-- CSS -->
    <%- include('partials/common-css.ejs') %>
    <!-- Deferred Scripts -->
    <%- include('partials/common-js.ejs') %>

</head>
<body>
    <%- include('partials/header.ejs') %>
    <main id="swup" class="transition-fade">
        <section class="row heading-row">
            <h2 class="sub-heading">Skills</h2>
        </section>
        <section class="row">
            <section class="center-flex">
                <section class="center center-inner">
                    <section class="circle">
                        <img src="/static/node-logo.png" alt="Node JS Logo" class="skill-img"/>
                    </section>
                    
                    <section class="circle">
                        <img src="/static/mongo-logo.png" alt="MongoDB Logo" class="skill-img"/>
                    </section>
                    <section class="circle">
                        <img src="/static/nativescript-logo.png" alt="NativeScript Logo" class="skill-img"/>
                    </section>
                    <a href="/resume-highlights">
                        <section class="circle clickable">
                            <img src="/static/arrow.png" alt="Explore - Click to see more skills" class="skill-img"/>
                        </section>
                    </a>
                </section>
            </section>
        </section>

        <section class="row heading-row">
            <h2 class="sub-heading">Featured Projects</h2>
        </section>

        <section class="row">
            <section class="col sm12 project left-padding" id="enviro">

                <article class="col sm12 m6 l4 project-desc-left">
                    <h1>Enviro</h1>
                    <h2>OPEN SOURCE ∙ ANDROID</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Pretium lectus quam id leo in vitae turpis massa. Viverra maecenas accumsan lacus vel.</p>
                    <a href="https://github.com/dhruv-tech/Enviro"><img class="repo" src="/static/github-sm-white.png" alt="View on Github"/></a>
                    <a href="https://medium.com/" class="waves-effect waves white btn">Case Study →</a>
                </article>

            </section>
            
        </section>

        <section class="row">
            <section class="col sm12 project left-padding" id="aquaduct">

                <article class="col sm12 m6 l4 project-desc-right right">
                    <h1>Aquaduct</h1>
                    <h2>OPEN SOURCE ∙ SMS-Based</h2>
                    <p>Built for nwHacks2020, Aqueduct is an advanced SMS-based chatbot designed to bring internet access to areas with little or no internet infrastructure. The service is primarily aimed at users of feature phones.</p>
                    <a href="https://github.com/dhruv-tech/Aqueduct"><img class="repo" src="/static/github-sm-white.png" alt="View on Github"/></a>
                    <a href="https://medium.com/" class="waves-effect waves white btn">Case Study →</a>
                </article>
                <figure class="col m5 l7 hide-on-small-only">
                    <img class="project-img-left" src="/static/aquaduct-graphic.png">
                </figure>
            </section>
            
        </section>

        <section class="row btn-row">
            <a href="/projects" class="btn-floating btn-large waves-effect waves" id="projects-btn"><span class="material-icons">view_module</span> All Projects</a>
        </section>

        <section class="row" id="connect-banner">
            <section class="col s12 m6 heading-row">
                <h2 class="sub-heading">Get in touch</h2>
            </section>
            <section class="col s12 m6 heading-row">
                <a href="https://linkedin.com/in/dhruvmalik/""><img src="/static/linkedin-logo.png" alt="linkedin logo"/></a>
                <a href="https://github.com/dhruv-tech"><img src="/static/github-m-grey.png" alt="github logo"/></a>
                <a href="/contact"><img class="last-img" src="/static/email-icon.png" alt="email form icon"/></a>
            </section>
        </section>
    </main>
    <%- include('partials/footer.ejs') %>
</body>
</html>