<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Config -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects - Dhruv's Portfolio - Software Developer & CS Student</title>
    <meta name="description" content="Take a look at some of Dhruv's past projects. Projects range from mobile apps to npm packages">

    <!-- CSS -->
    <%- include('partials/common-css.ejs') %>
    <!-- Deferred Scripts -->
    <%- include('partials/common-js.ejs') %>

</head>
<body>
    <%- include('partials/header.ejs') %>
    <main id="swup" class="transition-fade">
        <section class="row generic-project-row">
            <section class="col project" id="enviro">

                <article class="col sm12 m6 l4 project-desc-left">
                    <h1>Enviro</h1>
                    <h2>OPEN SOURCE ∙ ANDROID</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Pretium lectus quam id leo in vitae turpis massa. Viverra maecenas accumsan lacus vel.</p>
                    <a href="https://github.com/dhruv-tech/Enviro"><img class="repo" src="/static/github-sm-white.png" alt="View on Github"/></a>
                    <a href="https://medium.com/" class="waves-effect waves white btn">Case Study →</a>
                </article>

            </section>
            
        </section>

        <section class="row generic-project-row">
            <section class="col project generic-project theme-blue">

                <article class="col s11 project-desc-left">
                    <h1>RiveScript-Brain</h1>
                    <h2>OPEN SOURCE ∙ NPM</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Pretium lectus quam id leo in vitae turpis massa. Viverra maecenas accumsan lacus vel.</p>
                    <a href="https://github.com/dhruv-tech/Aqueduct"><img class="repo" src="/static/github-sm-blue.png" alt="View on Github"/></a>
                    <a href="https://medium.com/" class="waves-effect waves white btn">npm page →</a>
                </article>

            </section>

            <section class="col project right generic-project theme-purple">

                <article class="col s11 project-desc-left">
                    <h1>Nebula</h1>
                    <h2>CLOSED SOURCE ∙ WEB API</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Pretium lectus quam id leo in vitae turpis massa. Viverra maecenas accumsan lacus vel.</p>
                    <a href="https://github.com/dhruv-tech/Aqueduct"><img class="repo" src="/static/github-sm-purple.png" alt="View on Github"/></a>
                    <a href="https://medium.com/" class="waves-effect waves white btn">npm page →</a>
                </article>

            </section>
            
        </section>
        <section class="row generic-project-row">
            <section class="col project" id="aquaduct">

                <article class="col sm12 m6 l4 project-desc-left">
                    <h1>Aquaduct</h1>
                    <h2>OPEN SOURCE ∙ SMS-Based</h2>
                    <p>Built for nwHacks2020, Aqueduct is an advanced SMS-based chatbot designed to bring internet access to areas with little or no internet infrastructure. The service is primarily aimed at users of feature phones.</p>
                    <a href="https://github.com/dhruv-tech/Aqueduct"><img class="repo" src="/static/github-sm-white.png" alt="View on Github"/></a>
                    <a href="https://medium.com/" class="waves-effect waves white btn">Case Study →</a>
                </article>
                <figure class="col m5 l7 hide-on-small-only right">
                    <img class="project-img-left" src="/static/aquaduct-graphic.png">
                </figure>
            </section>
            
        </section>
        <section class="row generic-project-row">
            <section class="col project generic-project theme-green">

                <article class="col s11 project-desc-left">
                    <h1>BP-SAAS</h1>
                    <h2>CLOSED SOURCE ∙ SAAS</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Pretium lectus quam id leo in vitae turpis massa. Viverra maecenas accumsan lacus vel.</p>
                    <a href="https://github.com/dhruv-tech/Aqueduct"><img class="repo" src="/static/github-sm-green.png" alt="View on Github"/></a>
                    <a href="https://medium.com/" class="waves-effect waves white btn">See in action →</a>
                </article>

            </section>

            <section class="col project right generic-project theme-blue">

                <article class="col s11 project-desc-left">
                    <h1>SISOS</h1>
                    <h2>CLOSED SOURCE ∙ WEB</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Pretium lectus quam id leo in vitae turpis massa. Viverra maecenas accumsan lacus vel.</p>
                    <a href="https://github.com/dhruv-tech/Aqueduct"><img class="repo" src="/static/github-sm-blue.png" alt="View on Github"/></a>
                    <a href="https://medium.com/" class="waves-effect waves white btn">npm page →</a>
                </article>

            </section>
            
        </section>
        <section class="row" id="connect-banner">
            <section class="col s12 m6 heading-row">
                <h2 class="sub-heading">Get in touch</h2>
            </section>
            <section class="col s12 m6 heading-row">
                <a href="https://linkedin.com/in/dhruvmalik/""><img src="/static/linkedin-logo.png" alt="linkedin logo"/></a>
                <a href="https://github.com/dhruv-tech"><img src="/static/github-m-grey.png" alt="github logo"/></a>
                <a href="/contact"><img class="last-img" src="/static/email-icon.png" alt="email form icon"/></a>
            </section>
        </section>
    </main>
    <%- include('partials/footer.ejs') %>
</body>
</html>