<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Config -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects - Dhruv's Portfolio - Software Developer & CS Student</title>
    <meta name="description" content="Take a look at some of Dhruv's past projects. Projects range from mobile apps to npm packages">

    <!-- CSS -->
    <%- include('partials/common-css.ejs') %>
    <!-- Deferred Scripts -->
    <%- include('partials/common-js.ejs') %>

</head>
<body>
    <%- include('partials/header.ejs') %>
    <main id="swup" class="transition-fade">
        <section class="row">
            <section class="col sm12 project left-padding" id="enviro">

                <article class="col sm12 m6 l4 project-desc-left">
                    <h1>Enviro</h1>
                    <h2>OPEN SOURCE ∙ ANDROID</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Pretium lectus quam id leo in vitae turpis massa. Viverra maecenas accumsan lacus vel.</p>
                    <a href="https://github.com/dhruv-tech/Enviro"><img class="repo" src="/static/github-sm-white.png" alt="View on Github"/></a>
                    <a href="https://medium.com/" class="waves-effect waves white btn">Case Study →</a>
                </article>

            </section>
            
        </section>

        <section class="row">
            <section class="col sm12 project left-padding" id="enviro">

                <article class="col sm12 m6 l4 project-desc-left">
                    <h1>Enviro</h1>
                    <h2>OPEN SOURCE ∙ ANDROID</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Pretium lectus quam id leo in vitae turpis massa. Viverra maecenas accumsan lacus vel.</p>
                    <a href="https://github.com/dhruv-tech/Enviro"><img class="repo" src="/static/github-sm-white.png" alt="View on Github"/></a>
                    <a href="https://medium.com/" class="waves-effect waves white btn">Case Study →</a>
                </article>

            </section>
            
        </section>

        <section class="row">
            <section class="col sm12 project left-padding" id="enviro">

                <article class="col sm12 m6 l4 project-desc-left">
                    <h1>Enviro</h1>
                    <h2>OPEN SOURCE ∙ ANDROID</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Pretium lectus quam id leo in vitae turpis massa. Viverra maecenas accumsan lacus vel.</p>
                    <a href="https://github.com/dhruv-tech/Enviro"><img class="repo" src="/static/github-sm-white.png" alt="View on Github"/></a>
                    <a href="https://medium.com/" class="waves-effect waves white btn">Case Study →</a>
                </article>

            </section>
            
        </section>

        <section class="row">
            <section class="col sm12 project left-padding" id="enviro">

                <article class="col sm12 m6 l4 project-desc-left">
                    <h1>Enviro</h1>
                    <h2>OPEN SOURCE ∙ ANDROID</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Pretium lectus quam id leo in vitae turpis massa. Viverra maecenas accumsan lacus vel.</p>
                    <a href="https://github.com/dhruv-tech/Enviro"><img class="repo" src="/static/github-sm-white.png" alt="View on Github"/></a>
                    <a href="https://medium.com/" class="waves-effect waves white btn">Case Study →</a>
                </article>

            </section>
            
        </section>
    </main>
    <%- include('partials/footer.ejs') %>
</body>
</html>