/* Built by Dhruv */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700;800&family=Roboto&display=swap');

h1 {
    font-family: Poppins;
    font-weight: 800;
    text-transform: uppercase;
}

h2, .nav-text {
    font-family: Poppins;
    font-weight: 700;
    text-transform: uppercase;
}

p {
    font-family: Roboto;
}

header {
    background: linear-gradient(15deg, rgba(0,153,255,1) 0%, rgba(64,141,204,1) 55%, rgba(102,102,255,1) 100%);
    height: 300px;
    border-top: 5pt solid;
    border-image: linear-gradient(90deg, rgba(102,102,255,1) 0%, rgba(51,204,204,1) 34%, rgba(0,153,255,1) 100%);
    border-image-slice: 1;
    width: 100%;
}

#logo{
    height: 33px;
    width: auto;
    margin-top: 17px;
    opacity: 0.95;
}
nav {
    box-shadow: none;
    background: none;
    font-family: Poppins;
    text-transform: uppercase;
    font-weight: 700;
}
.sidenav {
    font-family: Poppins;
    text-transform: uppercase;
    font-weight: 700;
    background: #FBFBFB;
}
#mobile-menu-icon {
    margin-top: 5px;
}
nav ul a {
    font-size: 1.1rem !important;
    padding-top: 5px;
}

nav ul a:hover {
    background: none;
    opacity: 0.8;
}
.left-padding {
    position: relative;
    left: 3.5% !important;
}
.right-padding {
    position: relative;
    right: 3.5% !important;
}


body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background: #FBFBFB;
}

main {
    flex: 1 0 auto;
}

footer { 
    padding-left: 3.5%;
    padding-right: 3.5%;
    width: 100%;
    height: 50px;
    
}

.lg-footer {
    background: #D9D9D9;
}

.lg-footer p{
    border: none;
}

footer p { 
    border-top: 0.5pt solid #7F7F7F;
    color: #595959;
    font-family: Calibri;
    width: 100%;
    margin: 0;
    padding-top: 12.5px;
}

#page-heading {
    color: white;
    max-width: 515px;
}

#page-heading p{
    margin: 0;
    margin-top: -10px;
}

#heading-wrapper {
    margin-top: 0px;
}

#headbg {
    position: absolute;
    top: 263px;
    right: -0.026%;
    height: 37px;
}

.heading-row {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #595959;
}

.heading-row h2{
    margin-top: 10px;
}

.circle {
    width:185px;
    height:185px;
    border-radius:92.5px;
    background: #ffffff;;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.2);
    display: inline-block;
}

.skill-img {
    height: 75px;
    position: relative;
    top: 50px;
}

.clickable:hover {
    opacity: 0.825;
    cursor: pointer;
}

.clickable {
    margin-right: 0 !important;
}

.center-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 51px;
}

.project {
    height: 315px;
    width: 93%;
    border-radius: 12px;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.2);
    color: white;
    margin-bottom: 10px;
}

.project-desc-left {
    padding-left: 3.5% !important;
}

.project h2 {
    font-size: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.project a {
    font-family: Poppins;
    border-radius: 10px;
    opacity: 0.8;
}

.project a:hover {
    opacity: 1;
    cursor: pointer;
}

.project .repo {
    position: relative;
    height: 27.5px;
    top: 10px;
    margin-right: 10px;
}

#enviro {
    background: linear-gradient(45deg, rgba(31,78,121,1) 0%, rgba(0,112,192,1) 46%, rgba(0,176,240,1) 100%);
}

#enviro a {
    color: #17578B;
}

#aquaduct {
    background: linear-gradient(45deg, rgba(17,129,129,1) 0%, rgba(12,173,168,1) 50%, rgba(18,205,195,1) 100%);
}

#aquaduct a{
    color: #108887;
}

#projects-btn {
    width: auto;
    border-radius: 25px;
    padding-left: 17px;
    padding-right: 17px;
    font-family: poppins;
    text-transform: uppercase;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.2);
    background: white;
    color: #595959;
    /* font-weight: bolder; */
}

#projects-btn:hover {
    opacity: 0.9;
}
#projects-btn span {
    position: relative;
    top: 6px;
}

.btn-row {
    text-align: center;
}

#connect-banner {
    background: rgba(221, 221, 221, 0.705);
    margin-bottom: 0;
    margin-top: 39px;
}

#connect-banner .col {
    height: 100%;
}

#connect-banner img {
    margin-right: 39px;
    opacity: 0.8;
}

.last-img {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

#connect-banner img:hover {
    opacity: 1;
}

.generic-project-row {
    position: relative;
    padding-left: 3.5% !important;
    padding-right: 3.5% !important;
}

.generic-project {
    border-left: solid 17px;
    height: 255px;
}

.theme-blue h1, .theme-blue h2, .theme-blue p{
    background-image: linear-gradient(90deg, rgba(0,153,255,1) 0%, rgba(0,125,237,1) 59%, rgba(0,112,228,1) 100%);
}

.theme-blue {
    border-color: rgba(0,153,255,1);
}

.generic-project h1, .generic-project h2, .generic-project p{
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.transition-fade {
    transition: 0.225s;
    opacity: 1;
}
  
html.is-animating .transition-fade {
    opacity: 0;
}

@media only screen and (min-width: 0px) {
    #page-heading h1{
        font-size: 32px;
        margin-top: 5px;
    }

    .heading-row h2{
        font-size: 28px;
    }

    #page-heading p{
        font-size: 14px;
    }
    .circle {
        display: block;
        /*margin-left: 30vw;*/
        margin-top: 25px;
    }
    .project h1 {
        font-size: 29px;
    }
    .project-desc {
        padding-right: 3.5%;
    }

    .project-desc-right {
        padding-left: 3.5% !important;
    }
    #content-banner {
        height: auto;
    }
    #connect-banner img {
        padding-bottom: 10px;
        height: 45px;
    }
    .generic-project {
        width: 100%;
    }
}

@media only screen and (min-width: 600px) {

    .project h1 {
        margin-top: 35px;
    }
    .project-desc {
        padding-right: 0;
    }
    .project-desc-right {
        padding-right: 3.5% !important;
        padding-left: 0px !important;
    }
    .project .right{
        text-align: right;
    }
    #aquaduct {
        background: linear-gradient(315deg, rgba(17,129,129,1) 0%, rgba(12,173,168,1) 50%, rgba(18,205,195,1) 100%);
    }
    .project-img-left {
        height: 150px;
        margin-top: 59px;
        margin-left: 0px;
    }
    #connect-banner{
        height: 120px;
    }
    #connect-banner img {
        height: 39px;
        padding-bottom: 0px;
    }
    .generic-project {
        width: 48%;
    }
}

@media only screen and (min-width: 992px) {
    #page-heading h1{
        font-size: 33px;
        margin-top: 0;
    }

    .heading-row h2{
        font-size: 30px;
    }

    #page-heading p{
        font-size: 15px;
    }
    .circle {
        margin-right: 3%;
        display: inline-block;
        margin-left: 0;
    }
    .center-inner {
        width: 100%;
    }
    .project h1 {
        font-size: 30px;
        margin-top: 47.2px;
        margin-bottom: 3px;;
    }
    .project-img-left {
        height: 250px;
        margin-top: 20px;
        margin-left: 39px;
    }
}

@media only screen and (min-width: 1200px) {
    #page-heading h1{
        font-size: 35px;
    }

    #page-heading p{
        font-size: 17px;
    }
}